

@font-face {
  font-family: "Vazir";
  src: url(../fount/Vazirmatn-Medium.woff2);
}

@font-face {
  font-family: "Vazir-Bold";
  src: url(../fount/Vazirmatn-Bold.woff2);
}
body{
  font-family: "Vazir";
}

.read-more-p{
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
  text-align: left;
}




.search{
  text-align: center;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid #b5b3b3 ;
  float: center;
  width: 50%;
  background: #f1f1f1;
  outline: none;
}
form.search input[type=text]:focus{
  color: #00B4CC;
  border: 2px solid #FF7F5D ;
}
/* Style the submit button */
form.search button {
  float: center;
  width: 5%;
  padding: 10px;
  background: #FF7F5D;
  color: white;
  font-size: 17px;
  border-radius:5px ;
  border-left: none; /* Prevent double borders */
  border: 2px solid #FF7F5D;
  cursor: pointer;
}

form.search button:hover {
  background: #ff8b5d;
  border: 2px solid #ff8b5d;

}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}



}
.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  box-shadow: 0px 0.5vh 5px 0px rgba(0, 0, 0, 0.25);
}
.container .title {
  font-size: 50px;
  font-weight: 600;
}
.container p {
  font-size: 19px;
}
.pagination {
  margin: 25px 0 15px 0;
}
.pagination,
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination li {
  background: #f23b26;
  list-style: none;
}
.pagination li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 50px;
  width: 50px;
  font-size: 18px;
  padding-top: 1px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-right-width: 0px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}
.pagination li:last-child a {
  border-right-width: 1px;
}
.pagination li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.pagination li a:focus,
.pagination li a:active {
  padding-top: 4px;
  border-left-width: 1px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination li.icon a {
  min-width: 120px;
}
.pagination li:first-child span {
  padding-right: 8px;
}
.pagination li:last-child span {
  padding-left: 8px;
}
