{% extends 'account/registration/sign_up.html' %}
{% load static %}



{% block title %} login | setarehghotbi {% endblock %}


{% block content %}
		<div class="container-login100" style="background-image: url('{% static 'account/images/bg-01.jpg' %}');">
		<div class="limiter">
			{% if form.errors %}
			  	{% for error in form.errors %}
					<div class="alert alert-dismissible alert-danger">
					  <button type="button" class="close" data-dismiss="alert">
					  ×
					  </button>
					  <p>
					  	{{error}}
					  </p>
					</div>
			 	{% endfor %}
			{% endif %}


			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-dismissible alert-danger">
					  <button type="button" class="close" data-dismiss="alert">
					  ×
					  </button>
					  <p>
						{{message}}
					  </p>
					</div>
				{% endfor %}
			{% endif %}


			</div>
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						{{form.username}}
						<span class="focus-input100" data-placeholder="&#xf207;" style="text-align: left;"></span>
					</div>

					<div class="wrap-input100 validate-input " style="margin-left: 14%;"  data-validate="Enter password">
						{{form.password}}
						<span class="focus-input100" data-placeholder="&#xf191;" style="text-align: left;"></span>
					</div> 


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ورود
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="{% url 'account:rest_password' %}">
							اگه رمزت یادت رفته بیا اینجا !
						</a>
						<a class="txt1" href="{% url 'account:sign_up' %}" style="display:block; margin-top:10px;">
							اگر هم کلا ثبت نام نکردی بیا اینجا !
						</a>

					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}