{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<title>{% block title %}sign up | setarehghotbi{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'account/images/icons/favicon.ico' %}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
{% block content %}
		<div class="container-login100" style="background-image: url('{% static 'account/images/bg-01.jpg' %}');">
		<div class="limiter">
			{% if form.errors %}
			  	{% for error in form.errors %}
					<div class="alert alert-dismissible alert-danger">
					  <button type="button" class="close" data-dismiss="alert">
					  ×
					  </button>
					  <p>
						{% if error == 'username' %}
							این نام کاربری موجود است لطفا از نام کاربری دیگری استفاده کنید
						{% elif error == 'email' %}
							این ایمیل موجود است لطفا از ایمیل دیگری استفاده کنید
						{% elif error == 'password2' %}
							گذرواژه ها یکی نیستند
						{% endif %}
					  </p>
					</div>
			 	{% endfor %}
			{% endif %}


			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-dismissible alert-success">
					  <button type="button" class="close" data-dismiss="alert">
					  ×
					  </button>
					  <p>
						{{message}}
					  </p>
					</div>
				{% endfor %}
			{% endif %}


			</div>
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input col-5" data-validate = "Enter username">
						{{form.username}}
						<span class="focus-input100" data-placeholder="&#xf207;" style="text-align:left"></span>
					</div>

					<div class="wrap-input100 validate-input  col-5" style="margin-right: 14%;"  data-validate="Enter password">
						{{form.password1}}
						<span class="focus-input100" data-placeholder="&#xf191;" style="text-align:left"></span>
					</div> 

					<div class="wrap-input100 validate-input col-5" data-validate="Enter email">
						{{form.email}}
						<span class="focus-input100 " data-placeholder=" &#xf207;" style="text-align:left"></span>
					</div>

					<div class="wrap-input100 validate-input col-5" style="margin-right: 14%;" data-validate="Enter password">
						{{form.password2}}
						<span class="focus-input100 " data-placeholder="&#xf191;" style="text-align:left"></span>
					</div>


					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							مرا به خاطر بسپار
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ثبت نام
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="{% url 'account:login' %}">
							اگه قبلا ثبت نام کردی بیا اینجا !
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'account/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/js/main.js' %}"></script>

</body>
</html>