<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="{% url 'blog:home' %}">SETAREHGHOTBI</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'blog:home' %}">خانه</a></li>
        {% for category in categorys %}
          {% if category.parent is None %}
            <li class="dropdown"><a href="{% url 'blog:category' category.slug %}"><span>{{category.title}}</span>{% if category.childern.all %}<i class="bi bi-chevron-down"></i>{% endif %}</a>
              {% if category.childern.all %}
                {% include 'blog/template_tags/navbar_loop.html' %}
              {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        <li><a class="nav-link scrollto" href="#contact">تماس با ما</a></li>
        <li><a class="nav-link scrollto" href="#about">درباره ما</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    {% if request.user.is_authenticated %}
      <div class="align-items-center" style="margin-top:5px">
        <a href="{% url 'account:logout' %}"><i class="bi bi-box-arrow-right" style="font-size: 40px;"></i></a>
      </div>    
    {% else %}
      <div class="align-items-center" style="margin-top:5px">
        <a href="{% url 'account:sign_up' %}"><h3>signup / login</h3></a>
      </div>
    {% endif %}

  </div>
</header>