{% load static %}       
        {% for comment in comment.replys.all %}
              <div style="background-color: white; padding: 20px; margin: 20px 0 20px 0;">
                <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{article.auther.profile.url}}" width="40">
                    <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"> {% if comment.commenter.get_full_name %}
                                                                                                                              {{comment.commenter.get_full_name}}
                                                                                                                            {% else %}
                                                                                                                              {{comment.commenter.username}}
                                                                                                                            {% endif %}
                                                                                                                            </span><span class="date text-black-50">تاریخ:{{comment.date_created}}</span></div>
                </div>
                <hr>
                <div class="mt-2">
                    <p class="comment-text">{{comment.content}}</p>
                </div>
                <div class="comment-text" style="text-align: left;"> 
                {% if comment in request.user.likes.all %}
                    {{comment.comment_likes_count}} likes <img style='width: 25px;' src="{% static 'blog/assets/img/hug-icon.png' %}"> 
                {% else %}
                    {{comment.comment_likes_count}} likes <a href=""  style="display:inline-block" onClick="document.getElementById('likebutton').submit()"><img style='width: 25px;' src="{% static 'blog/assets/img/hug-icon-2.png' %}"></a> 
                    <form action="{% url 'blog:like_comment' %}" id="likebutton" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="slug" value="{{article.slug}}">
                      <input type="hidden" name="comment_id" value="{{comment.id}}">
                    </form>
                {% endif %}
                  <button style="float:right;" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#target{{comment.id}}">100 پاسخ<i class="bi bi-reply"></i></button>
                  <div id="target{{comment.id}}" class="collapse" style="text-align: right; padding:20px; background-color: gray; margin:30px 30px 0 0 ;">
                      <form method="post" action="{% url 'blog:single_post' article.slug %}">
                        {% csrf_token %}
                        {{comment_form.content}}
                        <input type="hidden" name="comment_id" value="{{comment.id}}">
                        <button class="btn btn-success" style="float:left; margin: 15px; font-size: 20px;">ثبت این نظر</button>
                      </form>
                      {% if request.user.is_authenticated %}
                        <div class="d-flex flex-row user-info" style="margin-top :10px;"><img class="rounded-circle" src="{{request.user.profile.url}}" width="50">
                       <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                        </div>
                      {% else %}
                        <h3 style="color:#dfbe0c;margin-top :15px;">برای ثبت دیدگاه باید <a href="#">ثبت نام </a> کنید</h3>
                      {% endif %}
                      <hr>
                      {% if comment.replys.all %}

                        {% include 'blog/comment_loop.html' %}

                      {% endif %}

                  </div>
                  </div> 
              </div>
        {% endfor %}