<section id="cta" class="cta">
  <div class="container">

    <div class="text-center">
      <h1 style="color: white; text-decoration: underline; margin-bottom: 30px;">هدف تیم</h1>
      <p> در این سایت تیم ما در تلاش است تا به ساخت اینده ای 
      بهتر برای شما ایجاد کن تا بتوانید با پیشرفت های تحصیمی
  	  خود به هدف دلخوای خود در اینده برسید و از رنج ها و شادی
  	  هایش نهایت لذت را ببرید.</p>
      <a class="cta-btn" href="{% url 'blog:about_us' %}">درباره ما</a>
    </div>

  </div>
</section><!-- End Cta Section -->



